<!-- ユーザーの詳細 -->
<div>
    <h3><%= @user.name %></h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user == current_user %>
        <p><%= link_to "user_image", edit_user_path(@user.id) %></p>
    <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |item| %>
        <tr class="field">
            <td class="user_image"><%= image_tag item.user.get_profile_image(100,100) %></td>
            <td class="title"><%= link_to item.title, book_path(item.id) %></td>
            <td class="body"><%= item.body %></td>
        </tr>
        <% end %>
    </tbody>
</table>
