<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>

<!-- 一覧画面 -->
<h1>Books</h1>
<table>
  <thead>
      <tr>
          <th>Title</th>
          <th>Option</th>
      </tr>
  </thead>
  <tbody>
      <% @books.each do |item| %>
      <tr class="field">
          <td class="user_image"><%= image_tag item.user.get_profile_image(100,100) %></td>
          <td class="title"><%= link_to item.title, book_path(item.id) %></td>
          <td class="body"><%= item.body %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<!-- 作成画面 -->
<h2>New Book</h2>

<!-- インスタンス変数@bookを使用するのは、エラーメッセージを表示するため -->
<% if @book.errors.any? %>
  <div class="error-messages">
    <h3>
      <%= @book.errors.count %>
      errors prohibited this book from being saved:
    </h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title, class: @book.errors[:title].any? ? 'field_with_errors' : '' %><br>
    <%= f.text_field :title, class: @book.errors[:title].any? ? 'field_with_errors' : '' %><br>
  </div>

  <div class="field"style="margin-top: 5px;">
    <%= f.label :body, class: @book.errors[:body].any? ? 'field_with_errors' : '' %><br>
    <%= f.text_area :body, class: @book.errors[:body].any? ? 'field_with_errors' : '' %><br>
  </div>

  <div class="actions"style="margin-top: 5px;">
    <%= f.submit "Create Book" %>
  </div>
<% end %>

</body>
</html>