<!DOCTYPE html>
<html>
<head>
  <title>Bookers2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/38dc52f0f7.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column vh-100">
  <header class="shadow-sm">
    <!-- ナビゲーション -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <li class="navbar-brand p-3">
          <%= link_to 'Bookers', root_path %>
        </li>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ログインしている場合のみ表示 -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <i class="fa-solid fa-house"></i>
                <%= link_to 'Home', user_path(current_user) %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-users"></i>
                <%= link_to 'Users', users_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-book-open"></i>
                <%= link_to "Books", books_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-right-from-bracket"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <i class="fa-solid fa-house"></i>
                <%= link_to 'Home', root_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-link"></i>
                <%= link_to 'About', about_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-user-plus"></i>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
              <li class="nav-item">
                <i class="fa-solid fa-right-to-bracket"></i>
                <%= link_to "Log in", new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- ログイン成功・失敗メッセージ -->
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
      <%= message %>
    </div>
  <% end %>

  <!-- 新規登録エラーメッセージ -->
  <% if defined?(@new_book) && @new_book.present? && @new_book.errors.any? %>
    <div class="error-messages">
      <h3><%= @new_book.errors.count %> errors prohibited this book from being saved:</h3>
      <ul>
        <% @new_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- ここからサイドバー -->
  <div class="container">
    <div class="row">
      <div class="col-md-3"> 
        <% if user_signed_in? && (params[:controller] == 'users' || params[:controller] == 'books') && !(params[:action] == 'edit') %>
        <!-- ユーザー情報（users/show 以外で表示） -->
        <div class="user-info">
          <h3>User info</h3>
          <!-- 表示するユーザー情報を切り替え -->
          <%= image_tag (@user.present? ? @user.get_profile_image(100, 100) : current_user.get_profile_image(100, 100)) %>
          <div class="name-section">
            <b>name</b><b><%= @user.present? ? @user.name : current_user.name %></b>
          </div>
          <div class="introduction-section">
            <b>introduction</b><b> <%= @user.present? ? @user.introduction : current_user.introduction %></b>
          </div>
          <!-- 編集ボタン -->
          <div class="edit-icon-button">
            <% if current_user == @user || current_user != @user %> <!-- 編集リンクを常に表示 -->
              <%= link_to edit_user_path(@user) do %>
                <i class="fas fa-user-cog"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- 作成画面 -->
        <% if user_signed_in? && @new_book.present? && !(params[:action] == 'edit') %>
          <h2>New book</h2>
          <%= form_with model: @new_book, local: true do |f| %>
            <div class="field">
              <%= f.label :title, class: @new_book.errors[:title].any? ? 'field_with_errors' : '' %><br>
              <%= f.text_field :title, class: @new_book.errors[:title].any? ? 'field_with_errors' : '' %><br>
            </div>

            <div class="field" style="margin-top: 5px;">
              <%= f.label :body, class: @new_book.errors[:body].any? ? 'field_with_errors' : '' %><br>
              <%= f.text_area :body, class: @new_book.errors[:body].any? ? 'field_with_errors' : '' %><br>
            </div>
            <div class="actions" style="margin-top: 5px;">
              <%= f.submit "Create Book", class: "submit-button" %>
            </div>
          <% end %>
        <% end %>
        <% end %>
      </div>
      <!-- サイドバーここまで -->
      <!-- メインコンテンツ -->
      <div class="col-md-8 offset-md-1"> 
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class='footer'>
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>
</body>
</html>
